<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog :: Home</title>
</head>
<body>
<div class="container">
    <h1>Spring Boot Blog Application</h1>
    <hr />
    <div class="posts-container">
        <div class="post" th:each="post : ${posts}">
            <h2><a th:href="@{'/posts/' + ${post.id}}" th:text="${post.title}">Title</a></h2>
            <h5 th:text="'Published on ' + ${post.createdDate}">Created Date</h5>
            <p th:text="${post.body}">body text</p>
            <br>
        </div>
    </div>
</div>

</body>
</html>