<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog :: Login</title>
</head>
<body>
    <div class="container">
        <h1>Spring Boot Blog Application</h1>
        <hr />
        <a th:href="@{/}">Home</a>
        <h2>Login</h2>
        <form action="#"
              th:action="@{/login}"
              method="POST">
            <div>
                <label for="email">Email</label>
                <input id="email" type="text" name="email" placeholder="Email" />
            </div>
            <div>
                <label for="password">Password</label>
                <input id="password" type="password" name="password" placeholder="Password" />
            </div>
            <button type="submit">Login!</button>
        </form>
    </div>

</body>
</html>