<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{shared/application}"
>
<head>
    <title>View Post</title>
</head>
<body>
<section layout:fragment="content">
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills" sec:authorize="!isAuthenticated()">
            <li class="nav-item"><a class="nav-link" th:href="@{/posts/new}">New Post</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/register}">Register</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/login}">Login</a></li>
        </ul>
        <ul class="nav nav-pills" sec:authorize="isAuthenticated()">
            <li class="nav-item"><a class="nav-link" th:href="@{/posts/new}">New Post</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{'/posts/' + ${post.id} + '/edit'}">Edit</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{'/posts/' + ${post.id} + '/delete'}">Delete</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/logout}">Logout</a></li>
        </ul>
    </header>
        <div class="post">
            <h2 th:text="${post.title}">Title</h2>
            <h5 class="text-muted" th:text="'Created at ' + ${post.createdAt}">Created At</h5>
            <h5 class="text-muted" th:text="'Updated at ' + ${post.updatedAt}">Updated At</h5>
            <p th:text="${post.body}">body text</p>
        </div>
    </section>

</body>
</html>
