<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{shared/application}"
>
<head>
    <title>Update Post</title>
</head>
<body>
<section layout:fragment="content">
    <form action="#"
          th:action="@{'/posts/{id}'(id=${post.id})}"
          th:object="${post}"
          method="post">
        <input type="hidden" th:field="*{account}" />
        <input type="hidden" th:field="*{createdAt}" />
        <h2>Update Post</h2>
        <div class="row">
            <label class="col-2" for="new-post-title">Title</label>
            <div class="col-10">
                <input class="form-control" id="new-post-title" type="text" th:field="*{title}" placeholder="Title"/>
            </div>
        </div>
        <div class="row">
            <label class="col-2" for="new-post-body">Body</label>
            <div class="col-10">
                <textarea class="form-control" id="new-post-body" th:field="*{body}"></textarea>
            </div>
        </div>
        <button class="btn btn-outline-primary" type="submit">Update Post</button>
    </form>
</section>

</body>
</html>
