<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog :: New Post</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}" />
</head>
<body>
    <div class="container">
        <a th:href="@{/}">Home</a>
        <form action="#"
              th:action="@{'/posts/new'}"
              th:object="${post}"
              enctype="multipart/form-data"
              method="post">
            <input type="hidden" th:field="*{createdAt}" />
            <h2>Write new Post</h2>
            <img th:src="@{'/images/' + *{imageFilePath}}" height="200px" class="img-fluid" />
            <div>
                <input id="input-file" type="file" name="file" class="btn btn-outline-info" accept="image/png, image/jpeg, image/jpg, image/bmp" />
            </div>
            <div>
                <label for="new-post-title">Title</label>
                <input id="new-post-title" type="text" th:field="*{title}" placeholder="Title"/>
            </div>
            <div>
                <label for="new-post-body">Body</label>
                <textarea id="new-post-body" th:field="*{body}"></textarea>
            </div>
            <button type="submit">Publish Post</button>
        </form>
    </div>

</body>
</html>
